
// Primary
$Orange: hsl(26, 100%, 55%);
$pale-Orange: hsl(25, 100%, 94%);

// Neutral

$Heavy-DarkBlue :  hsl(220, 13%, 13%);
$Light-DarkBlue : hsl(219, 9%, 45%);
$Heavy-LightBlue : hsl(220, 14%, 75%);
$Light-LightBlue : hsl(223, 64%, 98%);
$White : hsl(0, 0%, 100%);
$BlackFaded :  hsl(0, 0%, 0%, .75);