@use 'colors' as *;
@use 'mixin' as *;
@use 'sass:color';

.Main-Content {
 margin: 10% 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 position: relative;
 z-index: 0;
}

.Main-Content--display {
 width: 40%;
 position: relative;
 z-index: 0;
}

.Main-Content--details {
 width: 40%;
}

.Main-Content--display--image {
 object-fit: contain;
 max-width: 450px;
 @include Boxes;
}
.Main-Content--display--thumbnails {
 justify-content: flex-start;
 gap: 0 45px;
 margin-top: 25px;
 display: flex;
 .active {
  border: 2px solid $Orange;
 }
}
.Main-Content--display--thumbnails--button {
 background-color: transparent;
 border-radius: 10px;
 border: none;
 margin: 0;
 padding: 0;
 .active {
  opacity: 0.5;
 }
}

.Main-Content--display--thumbnails--image {
 position: relative;
 width: 75px;
 @include Boxes;
}

.Main-Content--details--brand {
 font-size: 12px;
 color: hsl(26, 100%, 55%, 0.8);
 letter-spacing: 0.1em;
 margin-top: 50px;
 margin-bottom: 0;
}
.Main-Content--details--description {
 color: hsl(219, 9%, 45%, 0.5);
}

.Main-Content--details--price,
.Main-Content--details--discount {
 display: inline-block;
 margin-right: 15px;
 margin-bottom: 0;
}

.Main-Content--details--old-price {
 color: $Heavy-LightBlue;
 text-decoration: line-through;
 margin-top: 0;
 font-size: 20px;
}
.Main-Content--details--price {
 color: $Heavy-DarkBlue;
}
.Main-Content--details--discount {
 padding: 0.5em;
 color: $Orange;
 font-weight: 700;
 padding: 5px 10px;
 background-color: lighten($Orange, 39%);
 border-radius: 5px;
 margin-top: 0;
}

.Main-Content--Shopping {
 display: flex;
 flex-wrap: wrap;
 gap: 25px 10px;
}

.Main-Content--Shopping--item-counter {
 width: 150px;
 border-radius: 15px;
 background-color: $Light-LightBlue;
}

.Main-Content--Shopping--item-counter--minus,
.Main-Content--Shopping--item-counter--count,
.Main-Content--Shopping--item-counter--plus {
 margin: 15px;
 display: inline;
 background-color: transparent;
 border: none;
}

.Main-Content--Shopping--item-counter--count {
 font-weight: 700;
}

.Main-Content--Shopping--atc-button {
 padding: 15px;
 width: 225px;
 border-radius: 10px;
 background-color: $Orange;
 border: none;
 color: $White;
 font-weight: 700;
}

.Main-Content--Shopping--atc-button:hover {
 box-shadow: -5px 25px 30px $pale-Orange;
}

.Main-Content--Shopping--atc-button--cart {
 width: 15px;
 margin-right: 15px;
 display: inline-block;
}

.Main-Content--arrow-spacer {
 display: none;
}

.Main-Content--prev-arrow,
.Main-Content--next-arrow {
 text-align: center;
 padding: 20px 25px;
 border-radius: 100%;
 background-color: $White;
 border: none;
 position: relative;
 z-index: 1;
}

@media only screen and (max-width: 1250px) {
 .Main-Content--display {
  width: 60%;
 }

 .Main-Content--details {
  width: 30%;
 }
}

@media only screen and (max-width: 1000px) {
 .Main-Content--display {
  width: 100%;
 }
 .Main-Content--details {
  margin: 0 10%;
  width: 100%;
 }

 .Main-Content--arrow-spacer {
  display: flex;
  position: absolute;
  margin: 50%;
  width: 90%;
  z-index: 1;
  justify-content: space-between;
 }

 .Main-Content--display--image {
  max-width: 100%;
  position: relative;
  z-index: 0;

 }

 .Main-Content--display--thumbnails {
  display: none;
 }

 .Main-Content--Shopping--atc-button,
 .Main-Content--Shopping--item-counter {
  width: 100%;
 }

 .Main-Content--Shopping--item-counter {
  display: flex;
  justify-content: space-between;
 }
}

@media only screen and (max-width: 500px) {
 .Main-Content--prev-arrow,
 .Main-Content--next-arrow {
  padding: 5px 10px;
 }
}
