@use "colors" as *;

.Navbar,
.Navbar--menu,
.Navbar--spacer {
  display: flex;
  flex-direction: row;
}

.Navbar {
  border-bottom: 1px solid $Light-LightBlue;
  justify-content: space-between;
}

.Navbar--title {
  padding-right: 10px;
  font-weight: 700;
}

.Navbar--menu {
  justify-content: space-around;
}

.Navbar--menu--item {
  color: $Heavy-LightBlue;
  text-align: center;
  padding: 15px;
}

.Navbar--cart,
.Navbar--avatar {
  max-width: 50px;
  max-height: 50px;
  margin: 1em;
  position: relative;
}

.Navbar--cart {
  padding: 1em;
}

.Navbar--cart--items {
  background-color: $Orange;
  border-radius: 100%;
  text-align: center;
  color: $White;
  width: 16px;
  font-size: 12px;
  float: right;
  z-index: 1;
  margin: -5px 0 0 -10px;
}

.Navbar--cart--icon {
  z-index: 0;
}

.Navbar--avatar--icon {
  min-width: 50px;
  max-height: 50px;
}
